---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&location=whittier,ak
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 22:14:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"whittier,ak"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Whittier","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"AK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282028446","unknownInput":"","type":"s","latLng":{"lat":60.775066,"lng":-148.68087},"displayLatLng":{"lat":60.775066,"lng":-148.68087},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&type=map&size=225,160&locations=60.775066,-148.68087|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1439104067"}]}]}'
  recorded_at: Mon, 27 Sep 2021 22:14:45 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=60.775066&lon=-148.68087&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":60.7751,"lon":-148.6809,"timezone":"America/Anchorage","timezone_offset":-28800,"current":{"dt":1632780885,"sunrise":1632757924,"sunset":1632800337,"temp":43.63,"feels_like":38.46,"pressure":1000,"humidity":61,"dew_point":31.19,"uvi":1.96,"clouds":1,"visibility":10000,"wind_speed":9.22,"wind_deg":270,"wind_gust":16.11,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1632780000,"temp":43.63,"feels_like":40.37,"pressure":1000,"humidity":61,"dew_point":31.19,"uvi":1.96,"clouds":1,"visibility":10000,"wind_speed":5.53,"wind_deg":284,"wind_gust":5.61,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1632783600,"temp":43.79,"feels_like":41.02,"pressure":1000,"humidity":60,"dew_point":30.97,"uvi":1.77,"clouds":1,"visibility":10000,"wind_speed":4.88,"wind_deg":280,"wind_gust":4.92,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1632787200,"temp":43.99,"feels_like":41.74,"pressure":1000,"humidity":60,"dew_point":31.14,"uvi":1.3,"clouds":1,"visibility":10000,"wind_speed":4.23,"wind_deg":279,"wind_gust":4.21,"weather":[{"id":800,"main":[...]
