---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&location=whittier,ak
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 05 Oct 2021 20:56:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"whittier,ak"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Whittier","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"AK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282028446","unknownInput":"","type":"s","latLng":{"lat":60.775066,"lng":-148.68087},"displayLatLng":{"lat":60.775066,"lng":-148.68087},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&type=map&size=225,160&locations=60.775066,-148.68087|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2027294862"}]}]}'
  recorded_at: Tue, 05 Oct 2021 20:56:48 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=60.775066&lon=-148.68087&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":60.7751,"lon":-148.6809,"timezone":"America/Anchorage","timezone_offset":-28800,"current":{"dt":1633467408,"sunrise":1633450303,"sunset":1633490041,"temp":42.44,"feels_like":41.05,"pressure":1015,"humidity":99,"dew_point":42.19,"uvi":1.24,"clouds":100,"visibility":31,"wind_speed":3.06,"wind_deg":96,"wind_gust":3.04,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.35}},"hourly":[{"dt":1633464000,"temp":41.81,"feels_like":40.42,"pressure":1015,"humidity":99,"dew_point":41.56,"uvi":0.92,"clouds":100,"visibility":37,"wind_speed":3,"wind_deg":96,"wind_gust":3,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.53,"snow":{"1h":0.32}},{"dt":1633467600,"temp":42.44,"feels_like":41.05,"pressure":1015,"humidity":99,"dew_point":42.19,"uvi":1.24,"clouds":100,"visibility":31,"wind_speed":3.06,"wind_deg":96,"wind_gust":3.04,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.56,"snow":{"1h":0.35}},{"dt":1633471200,"temp":41.86,"feels_like":41.86,"pressure":1015,"humidity":99,"dew_point":41.61,"uvi":1.09,"clouds":100,"visibility":30,"wind_speed":2.44,"wind_deg":99,"wind_gust":2.51[...]
