---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=new%20orleans,la
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.292 TT 0 0.322"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 6467,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL212634W",
                    "text": [
                        "/works/OL212634W",
                        "Police code, or Collection of the ordinances of police made by the City Council of New-Orleans",
                        "Code de police, ou Recueil des ordonnances de police rendues par le conseil de ville de la Nouvelle-Orleans",
                        "Code de police, ou Recueil des ordonnances de police rendues par le conseil de ville de la Nouvelle-Orleans.",
                        "OL15079888M",
                        "OL17711777M",
                        "Printed by J. Renard, printer of the corporation",
                        "OL2425663A",
                        "New Orleans (La.)",
                        "Louisiana",
                        "New Orleans",
                        "Municipal Ordinances",
                        "Municipal incorporation",
                        "Ordinances, Municipal",
                        "Police regulations"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL15079888M",
                        "/books/OL17711777M",
                        "/works/OL212634W",
                        "/subjects/municipal_ordinances",
                        "/subjects/municipal_incorporation",
                        "/subjects/ordinances_municipal",
                        "/subjects/police_regulations",
                        "/subjects/place:louisiana",
                        "/subjects/place:new_orleans",
                        "/authors/OL2425663A"
                    ],
                    "title": "Police code, or Collection of the ordinances of police made by the City Council of New-Orleans",
                    "title_suggest": "Police code, or Collection of the ordinances of police made by the City Council of New-Orleans",
                    "has_fulltext": false,
                    "edition_count": 2,
                    "edition_key": [
                        "OL15079888M",
                        "OL17711777M"
                    ],
                    "publish_date": [
                        "1808"
                    ],
                    "publish_year": [
                        1808
                    ],
                    "first_publish_year": 1808,
                    "publish_place": [
                        "New Orleans"
                    ],
                    "last_modified_i": 1343774953,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Printed by J. Renard, printer of the corporation"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2425663A"
                    ],
                    "author_name": [
                        "New Orleans (La.)"
                    ],
                    "place": [
                        "Louisiana",
                        "New Orleans"
                    ],
                    "subject": [
                        "Municipal Ordinances",
                        "Municipal incorporation",
                        "Ordinances, Municipal",
                        "Police regulations"
                    ],
                    "publisher_facet": [
                        "Printed by J. Renard, printer of the corporation"
                    ],
                    "place_key": [
                        "louisiana",
                        "new_orleans"
                    ],
                    "subject_facet": [
                        "Municipal Ordinances",
                        "Municipal incorporation",
                        "Ordinances, Municipal",
                        "Police regulations"
                    ],
                    "_version_": 1700708069019746305,
                    "place_facet": [
                        "Louisiana",
                        "New Orleans"
                    ],
                    "author_facet": [
                        "OL2425663A New Orleans (La.)"
                    ],
                    "subject_key": [
                        "municipal_incorporation",
                        "municipal_ordinances",
                        "ordinances_municipal",
                        "police_regulations"
                    ]
                },
                {
                    "key": "/works/OL212635W",
                    "text": [
                        "/works/OL212635W",
                        "R\u00e8glement g\u00e9n\u00e9ral de police",
                        "R\u00e8glement g\u00e9n\u00e9r[...]
