---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=61.216583&lon=-149.899597&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":61.2166,"lon":-149.8996,"timezone":"America/Anchorage","timezone_offset":-28800,"current":{"dt":1632610130,"sunrise":1632585128,"sunset":1632628202,"temp":38.93,"feels_like":35.53,"pressure":1005,"humidity":87,"dew_point":35.4,"uvi":1.22,"clouds":75,"visibility":10000,"wind_speed":4.61,"wind_deg":0,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":1.78}},"hourly":[{"dt":1632607200,"temp":39.4,"feels_like":36.21,"pressure":1005,"humidity":84,"dew_point":34.97,"uvi":1.33,"clouds":77,"visibility":10000,"wind_speed":4.45,"wind_deg":16,"wind_gust":5.12,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.04},{"dt":1632610800,"temp":38.93,"feels_like":35.91,"pressure":1005,"humidity":87,"dew_point":35.4,"uvi":1.22,"clouds":75,"visibility":10000,"wind_speed":4.18,"wind_deg":10,"wind_gust":4.54,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.04},{"dt":1632614400,"temp":39.67,"feels_like":36.45,"pressure":1005,"humidity":84,"dew_point":35.24,"uvi":0.91,"clouds":78,"visibility":10000,"wind_speed":4.54,"wind_deg":18,"wind_gust":5.12,"weather":[{"id":[...]
