---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=61.216583&lon=-149.899597&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":61.2166,"lon":-149.8996,"timezone":"America/Anchorage","timezone_offset":-28800,"current":{"dt":1633467407,"sunrise":1633450630,"sunset":1633490299,"temp":40.3,"feels_like":38.71,"pressure":1012,"humidity":69,"dew_point":31.08,"uvi":0.75,"clouds":90,"visibility":10000,"wind_speed":3,"wind_deg":350,"wind_gust":7,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}]},"hourly":[{"dt":1633464000,"temp":40.41,"feels_like":40.41,"pressure":1012,"humidity":70,"dew_point":31.48,"uvi":0.56,"clouds":92,"visibility":10000,"wind_speed":0.63,"wind_deg":338,"wind_gust":2.06,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1633467600,"temp":40.3,"feels_like":40.3,"pressure":1012,"humidity":69,"dew_point":31.08,"uvi":0.75,"clouds":90,"visibility":10000,"wind_speed":1.45,"wind_deg":314,"wind_gust":1.9,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1633471200,"temp":40.68,"feels_like":40.68,"pressure":1012,"humidity":68,"dew_point":31.08,"uvi":0.89,"clouds":92,"visibility":10000,"wind_speed":0.83,"wind_deg":348,"wind_gust":2.39,"weather":[{"id":804,[...]
