---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&location=centennial,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 21:30:24 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"centennial,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Centennial","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038395","unknownInput":"","type":"s","latLng":{"lat":39.597307,"lng":-104.853811},"displayLatLng":{"lat":39.597307,"lng":-104.853811},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&type=map&size=225,160&locations=39.597307,-104.853811|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1157064201"}]}]}'
  recorded_at: Mon, 27 Sep 2021 21:30:23 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=39.597307&lon=-104.853811&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.5973,"lon":-104.8538,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632778224,"sunrise":1632747118,"sunset":1632790111,"temp":85.15,"feels_like":81.99,"pressure":1005,"humidity":14,"dew_point":30.81,"uvi":2.43,"clouds":40,"visibility":10000,"wind_speed":8.99,"wind_deg":70,"wind_gust":18.01,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1632778260,"precipitation":0},{"dt":1632778320,"precipitation":0},{"dt":1632778380,"precipitation":0},{"dt":1632778440,"precipitation":0},{"dt":1632778500,"precipitation":0},{"dt":1632778560,"precipitation":0},{"dt":1632778620,"precipitation":0},{"dt":1632778680,"precipitation":0},{"dt":1632778740,"precipitation":0},{"dt":1632778800,"precipitation":0},{"dt":1632778860,"precipitation":0},{"dt":1632778920,"precipitation":0},{"dt":1632778980,"precipitation":0},{"dt":1632779040,"precipitation":0},{"dt":1632779100,"precipitati[...]
