---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&location=centennial,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 25 Sep 2021 22:50:54 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"centennial,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Centennial","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038395","unknownInput":"","type":"s","latLng":{"lat":39.597307,"lng":-104.853811},"displayLatLng":{"lat":39.597307,"lng":-104.853811},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&type=map&size=225,160&locations=39.597307,-104.853811|marker-sm-50318A-1&scalebar=true&zoom=12&rand=274297991"}]}]}'
  recorded_at: Sat, 25 Sep 2021 22:50:54 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=39.597307&lon=-104.853811&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.5973,"lon":-104.8538,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632610254,"sunrise":1632574205,"sunset":1632617509,"temp":83.93,"feels_like":81.05,"pressure":1015,"humidity":14,"dew_point":29.97,"uvi":1.11,"clouds":20,"visibility":10000,"wind_speed":5.99,"wind_deg":102,"wind_gust":8.01,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1632610260,"precipitation":0},{"dt":1632610320,"precipitation":0},{"dt":1632610380,"precipitation":0},{"dt":1632610440,"precipitation":0},{"dt":1632610500,"precipitation":0},{"dt":1632610560,"precipitation":0},{"dt":1632610620,"precipitation":0},{"dt":1632610680,"precipitation":0},{"dt":1632610740,"precipitation":0},{"dt":1632610800,"precipitation":0},{"dt":1632610860,"precipitation":0},{"dt":1632610920,"precipitation":0},{"dt":1632610980,"precipitation":0},{"dt":1632611040,"precipitation":0},{"dt":1632611100,"precipitati[...]
