---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&location=centennial,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 05 Oct 2021 20:56:49 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"centennial,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Centennial","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038395","unknownInput":"","type":"s","latLng":{"lat":39.597307,"lng":-104.853811},"displayLatLng":{"lat":39.597307,"lng":-104.853811},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&type=map&size=225,160&locations=39.597307,-104.853811|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1979903023"}]}]}'
  recorded_at: Tue, 05 Oct 2021 20:56:49 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=39.597307&lon=-104.853811&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.5973,"lon":-104.8538,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1633467409,"sunrise":1633438776,"sunset":1633480536,"temp":79.81,"feels_like":79.81,"pressure":1017,"humidity":17,"dew_point":31.26,"uvi":4.13,"clouds":20,"visibility":10000,"wind_speed":7,"wind_deg":94,"wind_gust":15.99,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"minutely":[{"dt":1633467420,"precipitation":0},{"dt":1633467480,"precipitation":0},{"dt":1633467540,"precipitation":0},{"dt":1633467600,"precipitation":0},{"dt":1633467660,"precipitation":0},{"dt":1633467720,"precipitation":0},{"dt":1633467780,"precipitation":0},{"dt":1633467840,"precipitation":0},{"dt":1633467900,"precipitation":0},{"dt":1633467960,"precipitation":0},{"dt":1633468020,"precipitation":0},{"dt":1633468080,"precipitation":0},{"dt":1633468140,"precipitation":0},{"dt":1633468200,"precipitation":0},{"dt":1633468260,"precipitati[...]
