---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&location=austin,tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 11 Oct 2021 22:47:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"austin,tx"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Austin","adminArea5Type":"City","adminArea4":"Travis
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282038951","unknownInput":"","type":"s","latLng":{"lat":30.264979,"lng":-97.746598},"displayLatLng":{"lat":30.264979,"lng":-97.746598},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&type=map&size=225,160&locations=30.264979,-97.746598|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1345974433"}]}]}'
  recorded_at: Mon, 11 Oct 2021 22:47:07 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=30.264979&lon=-97.746598&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.265,"lon":-97.7466,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1633992427,"sunrise":1633955429,"sunset":1633997067,"temp":82.04,"feels_like":82.11,"pressure":1008,"humidity":45,"dew_point":58.62,"uvi":0.55,"clouds":1,"visibility":10000,"wind_speed":1.01,"wind_deg":0,"wind_gust":1.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1633992480,"precipitation":0},{"dt":1633992540,"precipitation":0},{"dt":1633992600,"precipitation":0},{"dt":1633992660,"precipitation":0},{"dt":1633992720,"precipitation":0},{"dt":1633992780,"precipitation":0},{"dt":1633992840,"precipitation":0},{"dt":1633992900,"precipitation":0},{"dt":1633992960,"precipitation":0},{"dt":1633993020,"precipitation":0},{"dt":1633993080,"precipitation":0},{"dt":1633993140,"precipitation":0},{"dt":1633993200,"precipitation":0},{"dt":1633993260,"precipitation":0},{"dt":1633993320,"precipitati[...]
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=austin,tx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.527 TT 0 0.556"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 9882,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL15173550W",
                    "text": [
                        "/works/OL15173550W",
                        "Austin, TX",
                        "OL24305269M",
                        "Grey House Publishing",
                        "OL3073272A",
                        "Laura Mars",
                        "Business",
                        "Nonfiction",
                        "Reference",
                        "Research"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL24305269M",
                        "/works/OL15173550W",
                        "/subjects/business",
                        "/subjects/nonfiction",
                        "/subjects/reference",
                        "/subjects/research",
                        "/authors/OL3073272A"
                    ],
                    "title": "Austin, TX",
                    "title_suggest": "Austin, TX",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL24305269M"
                    ],
                    "publish_date": [
                        "2009"
                    ],
                    "publish_year": [
                        2009
                    ],
                    "first_publish_year": 2009,
                    "publish_place": [
                        "Millerton"
                    ],
                    "last_modified_i": 1563804442,
                    "ebook_count_i": 0,
                    "cover_edition_key": "OL24305269M",
                    "cover_i": 6431122,
                    "publisher": [
                        "Grey House Publishing"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL3073272A"
                    ],
                    "author_name": [
                        "Laura Mars"
                    ],
                    "subject": [
                        "Business",
                        "Nonfiction",
                        "Reference",
                        "Research"
                    ],
                    "id_overdrive": [
                        "A2216474-4C9F-4F36-A980-2F25164F5CB2"
                    ],
                    "publisher_facet": [
                        "Grey House Publishing"
                    ],
                    "subject_facet": [
                        "Business",
                        "Nonfiction",
                        "Reference",
                        "Research"
                    ],
                    "_version_": 1700699562379837442,
                    "author_facet": [
                        "OL3073272A Laura Mars"
                    ],
                    "subject_key": [
                        "business",
                        "nonfiction",
                        "reference",
                        "research"
                    ]
                },
                {
                    "key": "/works/OL8725221W",
                    "text": [
                        "/works/OL8725221W",
                        "Austin, Tx Fire",
                        "OL12133292M",
                        "2001087361",
                        "55886464",
             [...]
