---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&location=anchorage,ak
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 21:30:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"anchorage,ak"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Anchorage","adminArea5Type":"City","adminArea4":"Municipality
        of Anchorage","adminArea4Type":"County","adminArea3":"AK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039478","unknownInput":"","type":"s","latLng":{"lat":61.216583,"lng":-149.899597},"displayLatLng":{"lat":61.216583,"lng":-149.899597},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=7Pqs8QUfOAcUx5Vffw66M6D1AU4NvbXX&type=map&size=225,160&locations=61.216583,-149.899597|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-463033804"}]}]}'
  recorded_at: Mon, 27 Sep 2021 21:30:23 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=f7bc96d0f0951765b4ae26a3b02c8b48&lat=61.216583&lon=-149.899597&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":61.2166,"lon":-149.8996,"timezone":"America/Anchorage","timezone_offset":-28800,"current":{"dt":1632778223,"sunrise":1632758226,"sunset":1632800619,"temp":40.8,"feels_like":40.8,"pressure":1000,"humidity":70,"dew_point":31.82,"uvi":1.36,"clouds":1,"visibility":10000,"wind_speed":1.01,"wind_deg":305,"wind_gust":3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1632776400,"temp":40.77,"feels_like":39.24,"pressure":1000,"humidity":68,"dew_point":31.15,"uvi":1.27,"clouds":3,"visibility":10000,"wind_speed":3,"wind_deg":334,"wind_gust":2.66,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1632780000,"temp":40.8,"feels_like":40.8,"pressure":1000,"humidity":70,"dew_point":31.82,"uvi":1.36,"clouds":1,"visibility":10000,"wind_speed":2.55,"wind_deg":338,"wind_gust":2.64,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1632783600,"temp":41.16,"feels_like":41.16,"pressure":1000,"humidity":67,"dew_point":31.17,"uvi":1.25,"clouds":2,"visibility":10000,"wind_speed":2.08,"wind_deg":335,"wind_gust":2.59,"weather":[{"id":800,"main":"[...]
