---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?q=cheyenne,wy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.159 TT 0 0.180"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 169,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL8503144W",
                    "text": [
                        "/works/OL8503144W",
                        "Casper/Cheyenne Wy127",
                        "OL10910352M",
                        "51128814",
                        "0762527501",
                        "9780762527502",
                        "Universal Map Enterprises",
                        "OL2843451A",
                        "Universal Map"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL10910352M",
                        "/works/OL8503144W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Casper/Cheyenne Wy127",
                    "title_suggest": "Casper/Cheyenne Wy127",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10910352M"
                    ],
                    "publish_date": [
                        "January 2002"
                    ],
                    "publish_year": [
                        2002
                    ],
                    "first_publish_year": 2002,
                    "oclc": [
                        "51128814"
                    ],
                    "isbn": [
                        "0762527501",
                        "9780762527502"
                    ],
                    "last_modified_i": 1304087383,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1700720295523909633,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL6002492W",
                    "text": [
                        "/works/OL6002492W",
                        "Youth Summit, June 18-20, 2002, Cheyenne, WY",
                        "Wyoming Youth Summit",
                        "OL3634658M",
                        "Department of Family Services.",
                        "2002435216",
          [...]
